{% extends 'base.html' %}

{% block title %}
Consumidor
{% endblock %}

{% block content %}
<h2>Consumidor - Criar</h2>
<form action="" method="POST">
  {% csrf_token %}
  <table style="text-align: left;">
    {{ form.as_table }}
  </table>
  <button type="submit" style="margin-top: 10px;">Salvar</button>
</form>

<script>
  async function zipHandler(zipCode) {
    if (zipCode.length === 8) {
      const { localidade, uf } = await fetch(`https://viacep.com.br/ws/${zipCode}/json/`)
        .then(res => res.json());

      if (localidade && uf) {
        document.getElementById('id_city').value = localidade;
        document.getElementById('id_state').value = uf;
      }
    }
  }
</script>
{% endblock %}